body{
    background-color: orange;
    margin: 26px;
    font-family: fantasy;
    background: linear-gradient(to right, yellow, green, blue,purple,red);
}
#canvas {
    padding: 10px;
    /* border: 1px solid white; */
    margin: auto;;
    display: block;
    background-color: #000;
}
h1{
    text-align: center;
    font-weight: bold;
    /* text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; */
    text-shadow: 2px 2px 8px #ff0000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
button{
    margin: auto;
    margin-top: 30px;
    display: inline-block;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    border: 1px solid #000;
    background-color: #000;
}

.wrapper {
    position: absolute;
    display: inline-block;
    text-align: center;
    left: 46%;
}